html {
  background: url(../images/cliff.jpg) no-repeat top left;
}

#bear {
  position: absolute;
  top: 100px;
  right: 0;
}

/* Write your solution here */
@media only screen and (min-width: 1196 px){
  #bear {
    left: 800px;
  }
  
}
http://165.227.31.156:33193/images/bear.png